@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gutter-stable {
    scrollbar-gutter: stable;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme('colors.neutral.500');
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.neutral.400');
}